.text-box {
    margin: 69px 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-container {
    width: 90%;
    min-height: 25vh;
    max-height: auto;
    color: white;
    border-radius: 0.5rem;
    padding: 2% 10%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-container p{
    text-align: justify;
}

.text-container h1 {
    margin-bottom: 30px;
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

.text-container p:nth-child(2)::first-letter {
    color: #fe5f55;
    font-weight: bold;
    font-size: 100px;
    float: left;
    line-height: 60px;
    padding-right: 8px;
    margin-top: -3px;
}

.bold {
    color: white;
    background-color: #fe5f55;
    letter-spacing: 0.25rem;
}

@media only screen and (max-width: 850px) {
    .text-box {
        min-width: 550px;
        margin: 205px 5% 0;
    }
}
