.text-box {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-container {
    width: 90%;
    min-height: 30vh;
    max-height: auto;
    background-color: rgba(41, 35, 34, 0);
    color: white;
    border-radius: 0.5rem;
    padding: 2% 10%;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-container h1{
    margin-bottom: 30px;
}

.text-container p:nth-child(2)::first-letter {
    color: #FE5F55;
    font-weight: bold;
    font-size: 100px;
    float: left;
    line-height: 60px;
    padding-right: 8px;
    margin-top: -3px;
}

.bold {
    color: white;
    background-color: #FE5F55;
    letter-spacing: 0.25rem;
}

@media only screen and (max-width: 850px) {
    .text-box {
        min-width: 550px;
        margin: 0 5%;
    }
}
