.box-container{
   margin: 90px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

@media (max-width:600px){
   .box-container{
      flex-direction: column;
      text-align: center;
   }
   .views-title{
      margin-bottom: 20px;
   }
}

