

.header {
    list-style-type: none;
    background-color: #171717;
    font-size: large;
    z-index: 2;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    text-align: center;
    position: fixed;
    top: 0;
    flex-shrink: 0;
}

.header li {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header li a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 20px;
    width:100%;
}

.header li:nth-child(1):hover {
    background-color: #332e2e;
    clip-path: polygon(100% 0, 100% 52%, 90% 100%, 0 100%, 0 0);
}

.header li:nth-child(2):hover {
    background-color: #332e2e;
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 52%, 0 0);
}

.logo {
    float: left;
    margin-left: 0;
    clip-path: polygon(100% 0, 100% 52%, 90% 100%, 0 100%, 0 0);
}

.logo a {
    color: white;
}

.logo:hover {
    background-color: #fe5f55;
    font-weight: bold;
}

.black-background{
    background-color: black;
}

.fa-terminal {
    animation-name: parpadeo;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 0.9;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 850px) {
    .header li {
        width: 100%;
    }
    .header {
        flex-direction: column;
        background-color: rgb(15, 15, 15);
    }
}
