form {
    max-width: 900px;
    margin: auto;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contact-me{
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

#contact-me.fade-in {
    visibility: visible;
    opacity: 1;
}

.formTitle{
    margin-bottom: 30px;
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-left: 1px solid rgb(79, 98, 148);
}

input {
    display: block;
    box-sizing: border-box;
    width: 50%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    background:none;
    color: tomato;
}

textarea{
    background: none;
    padding: 20px;
    border-radius: 4px;
    color: tomato;
}

input:disabled {
    opacity: 0.4;
}

.required::placeholder{
    
    opacity: .7;
    color: tomato;
}

.required{
    border-color: tomato;
    
}

.fa-check-circle{
    font-size: 200px;
    color: tomato;
}

.fa-exclamation{
    position: absolute;
    color: tomato;
}

.exclamation-name {
    right: 200px;
    top: 105px;
}

.exclamation-email {
    right: 200px;
    top: 205px;
}

.exclamation-project {
    right: 200px;
    top: 405px;
}